.context-menu {
    background-color: darken($darkColor, 5%);
    border-radius: 4px;

    hr {
        background-color: $primaryColor;
    }

    div {
        color: $primaryColor;
        transition-duration: .3s;

        &:hover {
            color: darken($darkColor, 5%);
            background-color: $primaryColor;
        }
    }
}