.access-page {
  min-height: calc(100vh - 2px);

  h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    font-family: $titleFont;
    color: $lightColor;

    span {
      color: $primaryColor;
      font-size: 4rem;
      font-family: $titleFont;
    }
  }

  .breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    transition-duration: .4s;
    color: $lightColor;

    span {
      font-size: 2rem;
      font-family: $titleFont;
      padding: 10px;

      &:last-of-type {
        color: $primaryColor;
      }

      &:nth-of-type(odd) {
        transition-duration: .4s;

        &:hover {
          cursor: pointer;
          color: $secondaryColor;
        }

      }
    }
  }

  .files {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem;
    background-color: $darkColor;
    margin: 8rem;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 5px 1px $primaryColor;
    opacity: .8;

    .no-files-message {
      display: flex;
      align-items: center;
      color: $primaryColor;
      font-size: 250%;
      font-weight: bold;
      margin: 30px 20px;

      i {
        font-size: 350%;
      }

      span {
        margin-left: 20px;

        strong {
          color: $lightColor;
        }
      }
    }

    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 15vmax;

      .fa {
        font-size: 8rem;
        padding: 20px;
        transition-duration: .4s;

        &.fa-music {
          color: #c2af0a;
        }

        &.fa-archive {
          color: darken($primaryColor, 20%);
        }

        &.fa-bullseye {
          color: #00c3ff;
        }

        &.fa-database {
          color: #02e715;
        }

        &.fa-envelope {
          color: #8100fa;
        }

        &.fa-font {
          color: #ff0037;
        }

        &.fa-image {
          color: #00aeff;
        }

        &.fa-file-code-o {
          color: #276b25;
        }

        &.fa-file-powerpoint-o {
          color: #fd8700;
        }

        &.fa-film {
          color: #fd00be;
        }

        &.fa-file-excel-o {
          color: #15ff00;
        }

        &.fa-file-text-o {
          color: $secondaryColor;
        }

        &.fa-folder {
          color: $primaryColor;

          &:hover {
            color: $supportColor;
          }
        }

        &.fa-cogs {
          color: #0400ff;
        }

        &.fa-file-o {
          color: #8c001e;
        }

        &:hover {
          cursor: pointer;
          color: $primaryColor;
          transform: scale(1.1);
        }
      }

      .title,
      .date {
        color: $lightColor;
        font-size: 24px;
        text-align: center;
      }

      .date {
        margin-top: 20px;
        color: $primaryColor;
      }

      span {
        color: $lightColor;
        font-size: 24px;
        text-align: center;

        span {
          color: $primaryColor;
          font-weight: bold;
        }
      }
    }
  }

  .add-files {
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
      margin: 2% 25%;

      .folder-select {
        h3 {
          font-family: $titleFont;
          font-size: 5vmin;
          margin: 2vmin auto;
          color: $lightColor;
          text-align: center;
        }

        .folders {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          margin: 2vmin auto;

          .folder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2vmin;
            min-width: 100px;
            transition-duration: .4s;

            span {
              font-size: 3vmin;
              color: $lightColor;
            }

            i {
              transition-duration: .4s;
              color: $primaryColor;
              font-size: 7vmin;

              &:hover {
                cursor: pointer;
                color: $secondaryColor;
              }
            }

            &.active {
              outline-offset: 10px;
              border-radius: 5px;
              outline: 2px solid $primaryColor;
              transform: scale(1.1);
            }
          }
        }
      }

      input {
        display: block;
        width: 70%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $primaryColor;
        margin: 10px 0;
        font-size: 24px;
        outline: none;
        color: $primaryColor;
        transition-duration: .4s;
        appearance: none;

        &:focus {
          transform: scale(1.1);
          box-shadow: 0px 10px 10px -10px $primaryColor;
        }
      }

      input[type='file'] {
        // display: none;
      }


    }
  }



  @include tooltip($primaryColor, $darkColor, "right");

  .tooltip {
    position: fixed;
    bottom: 4vmin;
    left: 4vmin;

    &__text {
      transform: scale(0);
      padding: 2vmin;
    }

    &__icon {
      font-size: 4vmax;
      color: $primaryColor;
      transition-duration: .4s;

      // &:hover {
      //   cursor: pointer;
      //   color: $secondaryColor;
      // }
    }
  }






}