.access-page {
  background-image: url('./../img/denim.webp');

  h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    font-family: $titleFont;

    span {
      color: $primaryColor;
      font-size: 4rem;
      font-family: $titleFont;
    }
  }

  .breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    transition-duration: .4s;

    span {
      font-size: 2rem;
      font-family: $titleFont;
      padding: 10px;

      &:last-of-type {
        color: $primaryColor;
      }

      &:nth-of-type(odd) {
        transition-duration: .4s;

        &:hover {
          cursor: pointer;
          color: $secondaryColor;
        }

      }
    }
  }

  .files {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    background-color: $darkColor;
    margin: 8rem;
    border-radius: 4px;
    padding: 2rem;
    box-shadow: 4px 4px 10px 2px;

    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;

      .fa {
        font-size: 8rem;
        padding: 20px;
        transition-duration: .4s;

        &.fa-file-text-o {
          color: $secondaryColor;
        }

        &.fa-folder {
          color: $supportColor;
        }

        &.fa-archive {
          color: darken($primaryColor, 20%);
        }

        &:hover {
          cursor: pointer;
          color: $primaryColor;
          transform: scale(1.1);
        }
      }

      span {
        color: $lightColor;
        font-size: 24px;

        span {
          color: $primaryColor;
          font-weight: bold;
        }
      }
    }
  }
}