$primaryColor: #84B026;
$secondaryColor: #217373;
$supportColor: #173540;
$bgColor: #3D3D3D;
$darkColor: #2C3532;
$errorColor: #F20505;
$lightColor: #ddd;

$primaryFont: 'Lato', sans-serif;
$titleFont: 'Alfa Slab One', cursive;